* {
    box-sizing: border-box;
}
body {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.post-note{
    width: 300px;
    margin: 0 auto;
}

.post-note input,
.post-note textarea,

.post-note button{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    padding: 5px 10px;
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.note {
    background-color: #105E92;
    color: black;
    width: 300px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    position: relative;
    min-height: 100px;
}

.note .title{
    margin-bottom: 20px;
    font-weight: bold;
}

.note .title a {
    color: black;
}

.note .close {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
}

.note small {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-top: 10px;
    display: block;
    text-align: right;
    font-style: italic;
}


